@import "./scrolling_text_sphere";

#zen-preamble {
  display: none;
  @include MQ(S) {
    display: block;
    @include scrollSphereContainer;
    max-height: 20vh;
  }
}

#zen-preamble *:not(:first-child) {
  @include scrollText(40s);
  padding: 10px;
  line-height: 1;
  z-index: -1;
}

#zen-preamble svg {
  position: absolute;
  width: 10vw;
  height: 10vw;
  @include MQ(S) {
    width: 15vw;
    height: 15vw;
  }
  @include MQ(M) {
    width: 10vw;
    height: 10vw;
  }
}

#zen-preamble p {
  text-align: right;
}
